.formContainer {
  width: 700px;
  margin: auto;
}
.btnAdd {
  background-color: rgba(245, 245, 220, 0.032);
  border: 2px solid #9a9bfb;
  color: #9a9bfb;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 15px 0px;
}
.inputs {
  width: 400px;
  height: 35px;
}
.nameOfInput {
  font-weight: 500;
}
#btnNext {
  background-color: #5558fa;
}
.btns {
  display: flex;
  justify-content: space-between;
  width: 800px;
}
.btn {
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #5558fa;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 10px;
}
.each {
  margin-top: 15px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000099;
}

.modal-main {
  position: fixed;
  background: white;
  width: 330px;
  height: auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.modal.display-block {
  display: block;
}

.modal.display-none {
  display: none;
}
.userInfo {
  display: flex;
  align-items: center;
}
.folder {
  display: flex;
  align-items: center;
}
.Eachfolder {
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: #5558fa;
}
.userRight {
  margin-left: 20px;
}
.firstBtn {
  margin-top: 80px;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: #5558fa;
  padding: 6px 10px;
}
#displayNone {
  display: none;
}
